<%-include('./partials/head.ejs')%>
<div class="main-container">
    <%-include('./partials/header.ejs')%>
    <div class="about">
        <h3>About</h3>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
    </div>
</div>

<%-include('./partials/footer.ejs')%>